{% extends 'base.html.twig' %}
{% block new_quizz %}active{% endblock %}
{% block title %}Edition {{ crew }}
{% endblock %}

{% block body %}
            <h2 class="bubble-title">
                <u>Modifie</u>
                ton
                <u>groupe</u>
            </h2>
            <p>Pour mieux recruter</p>

            <div class="bubble">
                {{ include('crew/_formNewCrew.html.twig') }}
            </div>
        </div>

{% endblock %}