{% extends 'base.html.twig' %}
{% block new_quizz %}active{% endblock %}
{% block title %}Nouveau Quizz
{% endblock %}

{% block body %}
            <h2 class="bubble-title">
                <u>Crée</u>
                ton
                <u>groupe</u>
            </h2>
            <p>En créeant ton groupe tu pourras
                <br/>
                créer des questonnaires privés<br/>
                et les partager avec les membres de ton groupe<br/>

            <div class="bubble">
                {{ include('crew/_formNewCrew.html.twig') }}
            </div>
        </div>

{% endblock %}