{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% for c in categories %}
    {% if c.idParent == 0 %}
    {% dump(c) %}
    <ul>{{ c.name }}
    
    {% for subc in categories %}

{% if subc.idParent == c.id %}
            <li>{{ subc.name }}</li>
        {% endif %}
  
    {% endfor %}
</ul>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}