{% extends 'base.html.twig' %}

{% block title %}Les catégories !{% endblock %}

{% block body %}
<div class="wrapper container-fluid">
    <div class="col">
        <div class="bubble-cat">

            {% macro recursiveCategory(category) %}
            {% import _self as self %}
            <li>
<h4><a href="#"> <img src="{{ asset('images/q-xs.svg') }}" alt=""> {{ category }}</a></h4>
                {% if category.children|length %}
                <ul>
                    {% for child in category.children %}
                    {{ self.recursiveCategory(child) }}
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endmacro %}

            {% from _self import recursiveCategory %}

            <div id="categories">
<div id="id="accordion"">
                <div>
                    {% for c in categories %}
                    {% if null == c.parent %}
                    {{ recursiveCategory(c) }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
</div>
        </div>
    </div>

    {% endblock %}