{% extends 'base.html.twig' %}
{% block category %}active{% endblock %}
{% block title %}Les catégories !{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="col-10 offset-1">
        <div class="bubble">
            <h2 class="bubble-title">les catégories</h2>
            <div class="bubble-cat">

                {% macro recursiveCategory(category) %}
                {% dump(category) %}
                {% import _self as self %}

                <div>
                    <h4>{% if null != category.Parent %}<a href="#">{{ category }}{% endif %}</a></h4>
                    {% if category.children|length %}
                    <ul>
                        {% for child in category.children %}
                        {{ self.recursiveCategory(child) }}
                        {% endfor %}
                    </ul>
                    {% endif %}

                </div>
                {% endmacro %}

                {% from _self import recursiveCategory %}

                <div id="accordion">

                    {% for c in categories %}
                    {% if null == c.parent %}
                    <h3 class="test"><a href="#">{{ c.name }}</a>
                        {{ recursiveCategory(c) }}
                        <h3>
                            {% endif %}
                            {% endfor %}

                </div>
            </div>
        </div>

        {% endblock %}