{% extends 'base.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block body %}

    <div class="wrapper container-fluid">
        <div class="col-8 offset-2">
            <div class="bubble">
                <h2 class="bubble-title">Bienvenue</h2>
                <p>
                    Pour jouer, pour apprendre ou pour réviser rien de mieux qu'un petit questionnaire. Crée ton questionnaire en 2 min et défie tes amis.
                </p>
            </div>
            <div class="bubble">
                <h3 class="bubble-title">Les Derniers Quizzs</h3>
                {% for q in newQuizzes %}
                    <ul>
                        <li>
                            <a href="{# path ('/quizz/play', {'username': , 'slug': q.slug}) #}">{{ q.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <div class="bubble">
                <h3 class="bubble-title">Un Quizz aléatoire ?</h3>
                <p>
                    <a href="{# path('/quizz/play', {'username' : , 'slug': q.slug}) #}">{{ randomQuizz.title }}</a>
                </p>

            </div>
        {% endblock %}