{% extends 'base.html.twig' %}

{% block title %}Modification de
    {{ user.userName }}
{% endblock %}

{% block body %}
    <div class="bubble col-8 offset-2">
        <h1 class="bubble-title">
            <u>Modification</u>
            du mot de passe</h1>
    </div>
    <main class="bubble col-8 offset-2">
        {{ form_start(form) }}
        {{ form_row(form.password) }}

        <button class="btn btn-success" type="submit">
            Je veux modifier mon mot de passe !
        </button>
        {{ form_end(form) }}
    </main>

{% endblock %}