{% extends 'base.html.twig' %}

{% block title %}Modification de {{ user.userName }}{% endblock %}

{% block body %}
<div class="bubble col-8 offset-2">
<h1 class="bubble-title"><u>Modification</u> de mon profil</h1>
</div>
<main class="bubble col-8 offset-2">

{{ form_start(form)}}
{{ form_widget(form) }}


<button class="btn btn-success" type="submit">
    J'ai fini de modifier!
</button>
{{ form_end(form) }}

</main>

{% endblock %}