$red: #d92139;
$yellow: #fec748;
$green: #aec33a;
$blue: #253f58;


$primary: rgb(0, 68, 255);
$success: #aec33a;
$danger: #d92139;
// the ~ allows you to reference things in node_modules

$danger: $red;

.badge {
    color: $blue !important;
}

#btn-signup {
    border-color: $green;
    margin-left: 1em;

    &:hover {
        background-color: $blue;
        color: $red;
    }
}

@import "~bootstrap/scss/bootstrap";

/* Triangle pour la forme où est encadrée la Catégorie sur la page list Quizz*/
@mixin triangle ($size, $color) {
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
}

body {
    background-color: $blue;
}

form {
    text-align: left;
}

a {
    color: inherit;
}


.bubble {
    background-color: $yellow;
    color: $blue;
    text-align: center;
    margin-top: 1em;
    border-radius: 1em;
    padding: 0.5em;

    &-title {
        color: $red;
    }
}

header {
    background-color: $red;
    color: $green;

    .burgger {

        background-color: $green;
    }

    a:hover {
        color: $blue;
        text-decoration: none;
    }
}




button.btn.btn-success,
button.btn.btn-danger {
    border: 2px solid black;
    box-shadow: 2px 0px 0px 0px black;
}

.category {
    background-color: $primary;
}

.row:after {
    content: '';
    display: inline-block;
    @include triangle(20px, $primary);
}

thead.thead {
    background-color: $blue;
    color: $green;
}

.table th {
    border-top-color: $red;
}

.table thead th {
    border-bottom-color: $red;
}

.table th {
    border-top-color: $red
}

.table td {
    border-top-color: $red
}