$red: #d92139;
$yellow: #fec748;
$green: #aec33a;
$blue: #253f58;


$primary: rgb(0, 68, 255);
$success: #aec33a;
$danger: #d92139;
// the ~ allows you to reference things in node_modules

@import "~bootstrap/scss/bootstrap";

body {
    background-color: $blue;
}

.bubble {
    background-color: $yellow;
    color: $blue;
    text-align: center;
    margin-top: 1em;
    border-radius: 1em;
    padding: 0.5em;

    &-title {
        color: $red;
    }
}

header {
    background-color: $red;
    color: $green;

    .burgger {

        background-color: $green;
    }
}

button.btn.btn-success,
button.btn.btn-danger {
    border: 2px solid black;
    box-shadow: 2px 0px 0px 0px black;
}