$red: #d92139;
$yellow: #fec748;
$green: #aec33a;
$blue: #002547;
$true: #23a71e;


$primary: #253f58;
$success: #aec33a;
$danger: #002547;
// the ~ allows you to reference things in node_modules

$danger: $red;

.green {
    color: $true;
};

.red {
    color:$red;
}

.badge {
    color: $blue !important;
}

.true {
    border: solid 5px $true;
}

.false {
    border: solid 5px $red;
}

//TODO classe de test pour les div
.test {
    border: solid 3px red;

}

#btn-signup,
#btn-login,
button.btn.btn-success {
    border-color: $green;
    margin-left: 1em;

    &:hover {
        background-color: $blue;
        color: $red;
    }
}

button.btn.btn-danger {
    border-color: $green;
    margin-left: 1em;

    &:hover {
        background-color: $green;
        color: $red;
    }
}

@import "~bootstrap/scss/bootstrap";

/* Triangle pour la forme où est encadrée la Catégorie sur la page list Quizz*/
@mixin triangle ($size, $color) {
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
}

body {
    background-color: $blue;
}

u {
    text-decoration: none;
    text-transform: capitalize;
}

form {
    text-align: left;
}

a {
    color: inherit;
}

//? border radius 1rem
.brad {
    border-radius: 1rem;
    overflow: hidden;
}

.dflex {
    display: flex;
    align-items: center;
}

.bubble {
    background-color: $yellow;
    color: $blue;
    text-align: center;
    margin-top: 1em;
    border-radius: 1rem;
    padding: 0.5em;

    &-title {
        color: $red;
    }

    &-cat {
        background-color: $yellow;
        color: $blue;
        margin-top: 1em;
        border-radius: 1em;
        padding: 0.5em;
        text-align: left;
    }
}

.bigSize {
    font-size: 6em;
    position: absolute;
}

header {
    background-color: $red;
    color: $green;

    .burgger {

        background-color: $green;
    }

    a:hover {
        color: $blue;
        text-decoration: none;
    }
}


button.btn.btn-success,
button.btn.btn-danger {
    border: 2px solid black;
    box-shadow: 2px 0px 0px 0px black;
}

.category {
    background-color: $primary;
}

/**
* TODO je ne sais pas à quoi ça sert ?
.row:after {
    content: '';
    display: inline-block;
    @include triangle(20px, $primary);
}
*/
thead.thead {
    background-color: $blue;
    color: $green;
}

.table {
    color: $yellow;
}

.table th {
    background-color: #253f58;
    border-top-color: $red;
}

.table thead th {
    background-color: $blue;
    border-bottom-color: $red;

}

.table th {
    background-color: $blue;
    border-top-color: $red;

}


.table td {
    background-color: $blue;
    border-top-color: $red;

}

.table tr:hover {
    background-color: #0d1e2e;
}





//? header

header {
    border-bottom: solid 0.5rem $blue;
    position: fixed;
    width: 100%;
    z-index: 250;
    
}

.subheader {
    position: relative;
    height: 8.5rem;
}

//? header navigation

header .nav-tabs {
    border: none;
    justify-content: center;
    border-bottom: solid 1px $blue;

}

header .nav .nav-item .nav-link {
    background-color: $red;
    border: solid 2px $blue;
    border-bottom: solid 1px $red;
    margin: 0 1em;
    //margin-bottom: -2px;
    color: $blue;
    
}

header .nav .nav-item .active {
    background-color: #002547;
    color: $green;
    border: solid 2px $blue;
}

header .nav .nav-item:focus {
    margin-bottom: 1px;
    z-index: 50;
    background-color: #002547;
    color: $green;
    border: solid 2px $blue;
}

header .nav .nav-item .disabled {
    background-color: $red;
    margin: 0 1em;
    border: $blue;
    color: #1F1C1E;
}

//? Log menu
.log-menu {
    line-height: 2em;
    padding-top: 1em;
    color: $blue;

}

//? profil page

.info-profil {}

.progress {
    
    width: 90%;
    background-color: $red;
    border: solid 2px $blue;
    margin: auto;
    height: 1.5em;
}

//? footer
#footer {
    color: $green;
}    

//? question page

/*.aside-overflow {
    height: 56.68rem;
    overflow-y: scroll;
} */   

.resum{
    position: relative;
}

.shortQuestion {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
}

.divDetails {
    display: none;
}  

.actived {
    width: 101%;
    border-radius: 1rem;
    top: 1.3rem;
    position: absolute;
    z-index: 50;
    display: block;
    background: $blue;
    color: $yellow;
 
}    


#newQuestion-title {
    display: none;
}