{% extends 'base.html.twig' %}
{% block new_quizz %}active{% endblock %}
{% block title %}Nouveau Quizz
{% endblock %}

{% block body %}

    <div class="bubble col-8 offset-2" id="formDiv">
        {{ form_start(form ) }}
        {{ form_widget(form) }}
        <button class="btn btn-success" type="submit">
            Question suivante !
        </button>
        {{ form_end(form) }}
    </div>
    {{ dump(app.session.get('results')) }}

{% endblock %}