{% extends 'base.html.twig' %}

{% block title %}Liste des Quizz{% endblock %}

{% block body %}
    <div class="wrapper container-fluid">
        <div class="col">
            <div class="bubble">
                <h2 class="bubble-title">{{quizz.title}}</h2>
                <p>{{quizz.description}}</p>
            </div>
            {% for q in quizz.questions %}
                <div class="bubble">
                    <h5>{{q.body}}</h5>
                </div>
            {% endfor %}
            <div class="bubble">
                <h4>Tu veux en voir plus et profiter du jeu alors... Go !</h4>
                <button class="btn btn-success" type="button">
                    <a href="#">Inscris-toi !</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}