{% extends 'base.html.twig' %}

{% block title %}inscription{% endblock %}

{% block body %}
    <div class="bubble col-6 offset-3">
        <h2 class="bubble-title">Page connexion</h2>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id':'signup'}}) }}
        {{ form_widget(form) }}
        <button class="btn" id="btn-signup" type="submit">{{ button_label|default('ayé fini !') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}