{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="bubble col-6 offset-3">
        <h2 class="bubble-title">Inscription</h2>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id':'signup'}}) }}
        {{ form_widget(form) }}

        <button class="btn btn-success" id="btn-signup" type="submit">{{ button_label|default('Ayé fini !') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}