<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>

    </head>
    <body>
        <div>
            <h2 style="color:#253f58; font-size: 25px;">Inscription réussie - Les Valles Baques</h2>
            <p style="font-size: 15px;">Bienvenue
                <strong style="color: #d92139; font-size: 15px;">{{user.userName}}</strong>.</p>
            <p style="font-size: 15px;">Maintenant que tu es inscrit(e), tu vas pouvoir profiter de l'application et tester tes connaissances !</p>
            <p style="font-size: 15px;">Clique sur ce lien pour te rendre directement sur le site :</p>

            <p style="font-size: 15px;">Aller sur
                <a href="#">Les Valles Baques</a>
            </p>

            <p style="font-size: 15px;">L'Equipe des Valles Baques te remercie pour ton inscription.
                <br/>
                Enjoy !
            </p>
        </div>
    </body>
</html>